* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

#page {
  background-color: #1d1a19;
  background-image: url(img/word-box.png);
  background-position: 50% 5%;
  background-size: 40%;
  border-radius: 8px;
  height: 300px;
  margin: 30px auto 0 auto;
  overflow: hidden;
  width: 200px;
}

#header {
  height: 25px;
  width: 200px;
}

h1,
h2 {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font: 16px/16px sans-serif;
  font-weight: bold;
  letter-spacing: .15em;
  position: relative;
  top: 20%;
  text-transform: uppercase;
}

ul  {
  bottom: -91px;
  position: relative;
}

li {
  color: #fff;
  font: 14px/14px sans-serif;
  font-weight: bold;
  height: 30px;
  list-style: none;
  padding: 10px 0 0 10px;
  width: 190px;
}

.hot {
  border-top: solid 1px #ff9999;
  border-bottom: solid 1px #800000;
  background-color: #ff6666;
}

.cool {
  border-top: solid 1px #ccffff;
  border-bottom: solid 1px #0066cc;
  background-color: #66ccff;
}

.normal {
  border-top: solid 1px #ffd699;
  border-bottom: solid 1px #800000;
  background-color: #ff9900;
}

.complete {
  background-image: url(img/trash.png);
  background-position: 90% 50%;
  background-size: 9%;
  border-top: solid 1px #a6a6a6;
  border-bottom: solid 1px #333;
  background-color: #666;
}

/* not for mobile */
li:hover {
  background-image: none;
  border-top: solid 1px #1d1a19;
  border-bottom: solid 1px #1d1a19;
  background-color: #1d1a19;
}
